/* Style for the columns */
.row {
    display: flex;
}
.column {
    flex: 1;
}

button {
    margin-bottom: 10px;
}

input {
    margin-bottom: 10px;
}

/* .custom {
    width: 200px !important;
} */